:root {
    --color: #000000;
    --bg-1: #99b7b1;
    --bg-2: #99b7b1;
}

.upper {
    background-color: var(--bg-1);
    margin: 0px;
    width: 330px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, 0.75), /* bottom */
            inset -5px 0px 10px -5px rgba(0, 0, 0, 0.75), /* left */
            inset 5px 0px 10px -5px rgba(0, 0, 0, 0.75); /* right */
}

.lower {
    background-color: var(--bg-2);
    margin: 0px;
    width: 330px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset 0px -5px 10px -5px rgba(0, 0, 0, 0.75), /* top */
    inset -5px 0px 10px -5px rgba(0, 0, 0, 0.75), /* left */
    inset 5px 0px 10px -5px rgba(0, 0, 0, 0.75); /* right */

}
