.sidebar {
    position: absolute;
    width: 45%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
    box-shadow: 2px 0px 6px rgba(0,0,0,0.3); /* add this */
  }
  
  .open {
    visibility: visible;
  }
  
  .sidebar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
  }
  
  .sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }
  
  .sidebar-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    color: white;
    z-index: 2;
    padding: 0 1rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .sidebar-item:hover {
    background-color: rgba(133, 132, 184, 0.3);
  }
  